# Position of the Sun

### Input variables - Latitude, Longitude, Date, Time, Timezone
### Output variables - Azimuth, Elevation

In [64]:
# sunpos.py
import math
def sunpos(when, location, refraction):
# Extract the passed data
    year, month, day, hour, minute, second, timezone = when
    latitude, longitude = location
# Math typing shortcuts
    rad, deg = math.radians, math.degrees
    sin, cos, tan = math.sin, math.cos, math.tan
    asin, atan2 = math.asin, math.atan2
# Convert latitude and longitude to radians
    rlat = rad(latitude)
    rlon = rad(longitude)
# Decimal hour of the day at Greenwich
    greenwichtime = hour - timezone + minute / 60 + second / 3600
# Days from J2000, accurate from 1901 to 2099
    daynum = (
        367 * year
        - 7 * (year + (month + 9) // 12) // 4
        + 275 * month // 9
        + day
        - 730531.5
        + greenwichtime / 24
    )
# Mean longitude of the sun
    mean_long = daynum * 0.01720279239 + 4.894967873
# Mean anomaly of the Sun
    mean_anom = daynum * 0.01720197034 + 6.240040768
# Ecliptic longitude of the sun
    eclip_long = (
        mean_long
        + 0.03342305518 * sin(mean_anom)
        + 0.0003490658504 * sin(2 * mean_anom)
    )
# Obliquity of the ecliptic
    obliquity = 0.4090877234 - 0.000000006981317008 * daynum
# Right ascension of the sun
    rasc = atan2(cos(obliquity) * sin(eclip_long), cos(eclip_long))
# Declination of the sun
    decl = asin(sin(obliquity) * sin(eclip_long))
# Local sidereal time
    sidereal = 4.894961213 + 6.300388099 * daynum + rlon
# Hour angle of the sun
    hour_ang = sidereal - rasc
# Local elevation of the sun
    elevation = asin(sin(decl) * sin(rlat) + cos(decl) * cos(rlat) * cos(hour_ang))
# Local azimuth of the sun
    azimuth = atan2(
        -cos(decl) * cos(rlat) * sin(hour_ang),
        sin(decl) - sin(rlat) * sin(elevation),
    )
# Convert azimuth and elevation to degrees
    azimuth = into_range(deg(azimuth), 0, 360)
    elevation = into_range(deg(elevation), -180, 180)
# Refraction correction (optional)
    if refraction:
        targ = rad((elevation + (10.3 / (elevation + 5.11))))
        elevation += (1.02 / tan(targ)) / 60
# Return azimuth and elevation in degrees
    return (round(azimuth, 2), round(elevation, 2))
def into_range(x, range_min, range_max):
    shiftedx = x - range_min
    delta = range_max - range_min
    return (((shiftedx % delta) + delta) % delta) + range_min
if __name__ == "__main__":
# Close Encounters latitude, longitude
    location = (40.602778, -104.741667)
# Fourth of July, 2022 at 11:20 am MDT (-6 hours)
    when = (2022, 7, 4, 11, 20, 0, -6)
# Get the Sun's apparent location in the sky
    azimuth, elevation = sunpos(when, location, True)
# Output the results
    print("\nWhen: ", when)
    print("Where: ", location)
    print("Azimuth: ", azimuth)
    print("Elevation: ", elevation)
# When:  (2022, 7, 4, 11, 20, 0, -6)
# Where:  (40.602778, -104.741667)
# Azimuth:  121.38
# Elevation:  61.91

When:  (2022, 7, 4, 11, 20, 0, -6)
Where:  (40.602778, -104.741667)
Azimuth:  121.38
Elevation:  61.91

In [65]:
if __name__ == "__main__":
# Close Encounters latitude, longitude
    location = (53.82, -2.24)
# Fourth of July, 2022 at 11:20 am MDT (-6 hours)
    when = (2022, 7, 4, 11, 20, 0, 0)
# Get the Sun's apparent location in the sky
    azimuth, elevation = sunpos(when, location, True)
# Output the results
    print("\nWhen: ", when)
    print("Where: ", location)
    print("Azimuth: ", azimuth)
    print("Elevation: ", elevation)

When:  (2022, 7, 4, 11, 20, 0, 0)
Where:  (53.82, -2.24)
Azimuth:  156.72
Elevation:  57.44

### Upload Cities data in the UK

#### ML - Training dataset

In [83]:
import pandas as pd

df_cities = pd.read_csv('UK Cities Location.csv')

df_cities.head()

         City   Latitude  Longitude
0        York  53.958332  -1.080278
1   Worcester  52.192001  -2.220000
2  Winchester  51.063202  -1.308000
3       Wells  51.209000  -2.647000
4   Wakefield  53.680000  -1.490000

#### ML - Testing dataset

In [81]:
import pandas as pd

df_world = pd.read_csv('worldcities.csv')

df_world.head()

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37977000.0,1392685764
1,Jakarta,Jakarta,-6.2146,106.8451,Indonesia,ID,IDN,Jakarta,primary,34540000.0,1360771077
2,Delhi,Delhi,28.6600,77.2300,India,IN,IND,Delhi,admin,29617000.0,1356872604
3,Mumbai,Mumbai,18.9667,72.8333,India,IN,IND,Mahārāshtra,admin,23355000.0,1356226629
4,Manila,Manila,14.5958,120.9772,Philippines,PH,PHL,Manila,primary,23088000.0,1608618140

### Import DateTime

In [60]:
import datetime

now = datetime.datetime.today()

print(now)

2021-04-22 17:13:49.587210

### Azimuth & Elevation for all Cities in UK

#### Machine learning Training dataset - UK cities

In [87]:
for index, row in df_cities.iterrows():
    azimuth, elevation = sunpos((now.year, now.month, now.day, now.hour, now.minute, now.second, 0), 
                                (row['Latitude'], row['Longitude']), 
                                True)
    print(index, row['City'], azimuth, elevation)

0 York 267.56 17.27
1 Worcester 267.2 18.03
2 Winchester 268.29 17.51
3 Wells 267.19 18.34
4 Wakefield 267.32 17.52
5 Truro 265.62 19.92
6 Sunderland 267.02 17.4
7 Sheffield 267.43 17.52
8 Salford 266.73 18.01
9 St. Davids 264.86 19.92
10 St.Albans 268.84 16.89
11 Ripon 267.15 17.52
12 Portsmouth 268.54 17.38
13 Perth 264.82 18.45
14 Nottingham 267.82 17.35
15 Newry 263.14 20.32
16 Newcastle Upon Tyne 266.82 17.52
17 Liverpool 266.19 18.42
18 Lincoln 268.23 16.97
19 Lichfield 267.36 17.77
20 Leicester 267.93 17.35
21 Lancaster 266.13 18.27
22 Hereford 266.85 18.34
23 Gloucester 267.29 18.06
24 Glasgow 264.31 18.95
25 Exeter 266.65 18.92
26 Ely 269.12 16.51
27 Durham 266.9 17.52
28 Dundee 265.19 18.18
29 Derry 262.03 20.77
30 Derby 267.58 17.54
31 Coventry 267.7 17.59
32 Chichester 268.77 17.18
33 Chester 266.34 18.38
34 Chelmsford 269.49 16.39
35 Carlisle 265.73 18.29
36 Canterbury 270.09 16.02
37 Cambridge 269.06 16.6
38 Brighton & Hove 269.26 16.79
39 Bradford 267.07 17.67
40 Bath 267.36 18.16
41 Peterborough 268.66 16.82
42 Elgin 264.49 18.27
43 Stoke-on-Trent 266.97 17.97
44 Solihull 267.49 17.75
45 Cardiff 266.67 18.66
46 Eastbourne 269.62 16.51
47 Oxford 268.11 17.46
48 London 269.08 16.76
49 Swindon 267.76 17.78
50 Gravesend 269.49 16.46
51 Northampton 268.24 17.22
52 Rugby 267.91 17.44
53 Sutton Coldfield 267.4 17.77
54 Harlow 269.18 16.62
55 Aberdeen 265.71 17.66
56 Swansea 266.02 19.12
57 Chesterfield 267.51 17.5
58 Lisburn 263.28 20.1
59 Londonderry 262.01 20.77
60 Salisbury 267.9 17.82
61 Manchester 266.77 17.98
62 Bristol 267.15 18.29
63 Wolverhampton 267.16 17.94
64 Preston 266.31 18.23
65 Ayr 264.13 19.2
66 Hastings 269.82 16.33
67 Bedford 268.62 16.96
68 Basildon 269.53 16.39
69 Chippenham 267.52 18.0
70 Birmingham 267.37 17.82
71 Folkestone 270.21 15.96
72 Edinburgh 265.18 18.35
73 Southampton 268.26 17.58
74 Belfast 263.34 20.03
75 Uckfield 269.4 16.64
76 Worthing 269.08 16.94
77 Leeds 267.23 17.55
78 Kendal 266.08 18.22
79 Hull 268.23 16.84
80 Plymouth 266.29 19.33
81 Haverhill 269.36 16.4
82 Frankton 267.83 17.51
83 Inverness 263.78 18.77

### Azimuth & Elevation for all Cities in the World

#### Machine learning Testing dataset - World cities

In [90]:
for index, row in df_world.head(300).iterrows():
    azimuth, elevation = sunpos((now.year, now.month, now.day, now.hour, now.minute, now.second, 0), 
                                (row['lat'], row['lng']), 
                                True)
    print(index, row['city'], azimuth, elevation)

0 Tokyo 44.43 -29.68
1 Jakarta 41.62 -81.62
2 Delhi 327.31 -42.86
3 Mumbai 316.2 -48.0
4 Manila 36.97 -56.6
5 Shanghai 27.25 -42.25
6 São Paulo 315.39 42.19
7 Seoul 31.06 -34.43
8 Mexico City 106.7 69.3
9 Guangzhou 19.66 -52.52
10 Beijing 18.44 -35.8
11 Cairo 291.13 -10.58
12 New York 190.08 61.43
13 Kolkāta 338.99 -52.84
14 Moscow 298.82 -3.6
15 Bangkok 358.59 -63.81
16 Buenos Aires 333.9 39.13
17 Shenzhen 21.14 -52.82
18 Dhaka 342.64 -52.36
19 Lagos 281.64 9.02
20 Istanbul 291.09 -4.79
21 Ōsaka 40.9 -32.73
22 Karachi 314.32 -40.02
23 Bangalore 316.47 -55.49
24 Tehran 306.09 -22.79
25 Kinshasa 282.14 -4.98
26 Ho Chi Minh City 13.31 -66.12
27 Los Angeles 111.41 48.1
28 Rio de Janeiro 311.71 40.34
29 Nanyang 15.34 -43.3
30 Chennai 320.11 -57.15
31 Chengdu 4.16 -46.82
32 Lahore 325.45 -39.07
33 Paris 271.73 15.16
34 London 269.08 16.77
35 Linyi 22.06 -39.8
36 Tianjin 19.57 -36.31
37 Shijiazhuang 16.63 -38.01
38 Baoding 17.61 -37.0
39 Zhoukou 17.9 -42.19
40 Lima 355.74 65.45
41 Hyderābād 321.56 -52.72
42 Bogotá 329.22 80.86
43 Weifang 22.45 -38.04
44 Nagoya 42.1 -31.64
45 Wuhan 18.34 -45.17
46 Heze 18.45 -40.46
47 Ganzhou 20.96 -49.46
48 Tongshan 20.89 -40.89
49 Chicago 162.74 59.62
50 Handan 16.94 -39.38
51 Luanda 282.0 -3.7
52 Fuyang 19.59 -42.57
53 Kuala Lumpur 1.96 -74.41
54 Jining 19.8 -40.0
55 Dongguan 20.44 -52.44
56 Hanoi 8.25 -56.23
57 Pune 316.98 -48.99
58 Chongqing 7.78 -47.71
59 Changchun 27.22 -29.58
60 Zhumadian 17.29 -42.97
61 Ningbo 27.9 -43.36
62 Onitsha 281.96 5.72
63 Nanjing 23.59 -42.44
64 Hefei 21.8 -43.1
65 Ahmadābād 318.81 -44.84
66 Hong Kong 21.45 -52.99
67 Khartoum 288.44 -16.6
68 Nantong 26.22 -41.74
69 Yancheng 24.77 -40.74
70 Foshan 19.47 -52.66
71 Nanning 11.97 -54.06
72 Hengyang 17.2 -49.14
73 Xi’an 10.32 -42.73
74 Shenyang 25.88 -32.03
75 Tangshan 20.57 -35.6
76 Shaoyang 15.48 -49.09
77 Changsha 17.31 -47.8
78 Santiago 348.97 43.47
79 Zhengzhou 16.36 -41.36
80 Zhanjiang 15.94 -55.17
81 Riyadh 298.57 -25.26
82 Cangzhou 19.36 -37.2
83 Dar es Salaam 280.49 -28.89
84 Maoming 16.6 -54.59
85 Huanggang 19.16 -45.14
86 Xinyang 17.58 -43.77
87 Shangrao 23.99 -46.02
88 Luoyang 14.81 -41.72
89 Bijie 6.29 -50.07
90 Yantai 24.76 -36.72
91 Quanzhou 26.46 -48.97
92 Hangzhou 26.04 -43.57
93 Miami 174.24 76.6
94 Kunming 2.49 -52.5
95 Nanchong 6.99 -46.52
96 Zunyi 8.7 -49.48
97 Lu’an 20.85 -43.44
98 Yichun 19.42 -47.78
99 Taizhou 28.29 -44.49
100 Liaocheng 18.8 -39.17
101 Qujing 4.2 -51.97
102 Xiangyang 15.08 -44.28
103 Sūrat 317.82 -46.38
104 Baghdad 300.16 -19.25
105 Qingdao 24.16 -38.18
106 Singapore 10.74 -76.01
107 Dallas 136.99 63.87
108 Changde 15.25 -47.31
109 Dazhou 8.92 -45.94
110 Suzhou 20.82 -41.54
111 Philadelphia 187.8 62.25
112 Jieyang 24.05 -51.07
113 Nairobi 283.17 -25.35
114 Nangandao 16.5 -40.78
115 Ankara 293.63 -8.05
116 Tai’an 20.2 -39.11
117 Yulin 15.0 -53.85
118 Dezhou 18.94 -38.14
119 Houston 135.0 66.85
120 Atlanta 165.27 68.09
121 Rangoon 350.09 -60.35
122 Toronto 179.01 58.71
123 Suihua 28.39 -26.58
124 Washington 184.0 63.49
125 Qiqihar 25.09 -26.88
126 Jinhua 25.87 -44.8
127 Saint Petersburg 292.67 1.81
128 Shantou 24.62 -51.11
129 Sydney 102.83 -39.86
130 Weinan 11.02 -42.42
131 Suqian 22.34 -40.86
132 Guadalajara 105.48 65.16
133 Suzhou 26.16 -42.45
134 Fuzhou 26.81 -47.65
135 Zhaotong 3.9 -50.16
136 Pudong 27.31 -42.17
137 Yongzhou 15.91 -49.82
138 Belo Horizonte 310.38 42.85
139 Zhangzhou 25.4 -49.7
140 Bozhou 19.26 -41.67
141 Melbourne 111.18 -43.55
142 Nanchang 21.14 -46.49
143 Xianyang 10.06 -42.68
144 Taizhou 24.83 -41.65
145 Surabaya 64.61 -77.47
146 Abidjan 281.44 16.0
147 Ji’an 20.5 -48.24
148 Mianyang 5.04 -45.97
149 Shaoxing 26.66 -43.63
150 Alexandria 290.57 -9.12
151 Yuncheng 12.9 -41.64
152 Pingdingshan 16.15 -42.42
153 Huai’an 23.53 -40.99
154 Xinpu 23.21 -39.97
155 Guilin 14.33 -51.27
156 Huaihua 13.2 -49.12
157 Jiujiang 20.91 -45.51
158 Anqing 21.97 -44.44
159 Boston 195.0 59.38
160 Huanglongsi 17.2 -41.16
161 Xiaoganzhan 17.73 -44.95
162 Changzhou 25.16 -42.23
163 Barcelona 273.61 14.94
164 Chenzhou 18.23 -50.07
165 Wuxi 25.64 -42.34
166 Zibo 21.19 -38.29
167 Jiaxing 26.55 -42.9
168 Dalian 24.69 -35.24
169 Harbin 28.25 -27.47
170 Yangzhou 24.29 -41.9
171 Yibin 5.16 -48.68
172 Jiangmen 19.63 -53.09
173 Johannesburg 274.16 -20.51
174 Meizhou 23.33 -50.47
175 Chifeng 20.79 -32.93
176 Casablanca 270.34 22.44
177 Guiyang 8.56 -50.62
178 Langfang 18.89 -36.08
179 Zhangjiakou 16.48 -35.28
180 İzmir 289.69 -4.31
181 Linfen 13.34 -40.52
182 Wenzhou 27.65 -45.38
183 Monterrey 119.18 65.86
184 Luzhou 6.32 -48.48
185 Jiangguanchi 16.74 -42.02
186 Neijiang 5.69 -47.82
187 Phoenix 116.95 53.1
188 Yanjiang 5.02 -47.32
189 Yiyang 16.3 -47.59
190 Zhaoqing 18.48 -52.84
191 Hengshui 18.12 -38.03
192 Guigang 13.97 -53.52
193 Xiaoxita 14.25 -45.78
194 Xiamen 25.99 -49.56
195 Chuzhou 22.94 -42.36
196 Fuzhou 22.05 -47.0
197 Amman 294.25 -13.55
198 Jeddah 293.16 -20.38
199 Sialkot City 326.08 -38.38
200 Huizhou 21.41 -52.16
201 Qingyuan 19.11 -52.06
202 Zhuzhou 17.68 -48.09
203 Wuhu 23.35 -43.23
204 Hechi 13.97 -53.52
205 Seattle 119.37 39.57
206 Loudi 16.08 -48.48
207 Binzhou 20.98 -37.74
208 Liuzhou 13.27 -52.38
209 Yokohama 44.48 -29.9
210 Baojishi 8.03 -42.87
211 Guang’an 7.82 -46.79
212 Hanzhong 8.0 -44.15
213 Kabul 321.35 -34.09
214 Zaozhuang 21.15 -40.22
215 Berlin 279.38 8.61
216 Anshan 25.59 -32.8
217 Deyang 4.58 -46.34
218 Lanzhou 3.49 -41.45
219 Chengde 19.97 -34.4
220 San Francisco 111.31 43.73
221 Puyang 17.81 -40.06
222 Suining 6.31 -46.86
223 Jiaozuo 15.7 -41.0
224 Bengbu 21.53 -42.08
225 Montréal 189.41 56.64
226 Detroit 171.71 59.84
227 Baicheng 8.94 -53.28
228 Busan 34.18 -35.64
229 Algiers 275.33 13.9
230 Qincheng 6.09 -42.8
231 Taiyuan 14.28 -38.59
232 Lucknow 330.9 -46.1
233 Chaoyang 22.66 -33.15
234 Hechi 11.1 -52.27
235 Leshan 3.79 -47.91
236 Yulinshi 10.76 -38.68
237 Siping 26.52 -30.5
238 Madrid 270.11 19.33
239 Jinan 19.95 -38.7
240 Shiyan 13.11 -44.01
241 Changzhi 15.31 -40.09
242 San Diego 111.2 49.56
243 Faisalabad 324.02 -38.56
244 Santa Cruz 331.86 56.06
245 Bazhou 7.8 -45.39
246 Zhongshan 20.06 -53.05
247 Zhenjiang 24.38 -42.06
248 Ürümqi 344.27 -32.42
249 Tongliao 24.15 -30.75
250 Heyuan 21.52 -51.48
251 Tongren 12.03 -49.1
252 Qinzhou 12.72 -54.85
253 Jaipur 324.82 -43.63
254 Xinzhou 14.39 -38.02
255 Addis Ababa 288.15 -24.41
256 Giza 291.1 -10.59
257 Meishan 3.87 -47.44
258 Brasília 311.08 48.51
259 Mashhad 313.11 -27.51
260 Jinzhou 23.54 -33.38
261 Tieling 26.19 -31.47
262 Shaoguan 19.45 -50.84
263 Shanwei 22.94 -52.17
264 Minneapolis 154.76 55.24
265 Kyiv 292.78 -1.58
266 Sanaa 293.07 -27.19
267 Quezon City 37.01 -56.54
268 Dingxi 4.55 -41.89
269 Salvador 300.82 42.63
270 Incheon 30.73 -34.68
271 Bursa 291.09 -5.17
272 Ningde 26.82 -47.03
273 Tampa 167.08 74.09
274 Daqing 26.36 -27.24
275 Birmingham 267.36 17.82
276 Putian 26.76 -48.33
277 Huzhou 25.69 -43.04
278 Wuzhou 16.53 -52.74
279 Denver 132.71 54.33
280 Rome 280.19 7.42
281 La Paz 339.27 59.2
282 Pyongyang 29.2 -33.68
283 Kano 281.66 5.25
284 Taichung 29.64 -48.76
285 Omdurman 288.44 -16.52
286 Zigong 5.28 -48.08
287 Qinhuangdao 22.11 -34.91
288 Mudanjiang 31.6 -27.44
289 Huludao 23.32 -33.84
290 Kaohsiung 30.05 -50.25
291 Xiangtan 17.36 -48.15
292 Guayaquil 4.01 75.34
293 Rizhao 23.25 -39.13
294 Manchester 266.77 17.98
295 Cawnpore 329.94 -46.15
296 Baotou 10.54 -36.32
297 Taipei 30.26 -47.59
298 Nanping 25.06 -47.58
299 Longyan 24.23 -49.42

### Validating train data and test data results - Validation complete as of Apr 22 2021 - 17:53

#### Training dataset  - City = London --> 269.08 16.76 ; 
#### Testing dataset    -  City = London --> 269.08 16.77  ;